.idea
__pycache__
*.pyc
backup_packages
venv
build
dist
introduction
*.build
*.dist
notes
source
output
profile
references
*.egg-info
xpinyin
*.exe
*.dll
MANIFEST
doc
*.pdf
*.pyd
*.pptx
*.docx
*.xlsx
system.json
config.json
.pytype
.mypy_cache

