.idea
__pycache__
*.pyc
backup_packages
build
dist
introduction
*.build
*.dist
notes
source
output
profile
references
*.egg-info
xpinyin
*.exe
*.dll
MANIFEST
*.pdf
*.pyd
*.pptx
*.docx
*.xlsx
*.pdf
运行图项目 设计.pdf
system.json
config.json

